@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

body {
  background: #E55D87; 
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  
  background: linear-gradient(to right, #5FC3E4, #E55D87);   
  font-family: 'Noto Serif', serif;
  font-size: 18px;
}

.main {
  width: 85%;
  margin: 0 10px 10px 64px;
  padding: 20px 0;
}

.logo {
 width: 100%;
 height: 100px;   
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  width: 60%;
  margin: 0 auto;
  height: 10vh;
  padding: 10px 0;
  width: 100%;
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px, rgb(0 0 0 / 12%) 0 -12px 30px, rgb(0 0 0 / 12%) 0 4px 6px, rgb(0 0 0 / 17%) 0 12px 13px, rgb(0 0 0 / 9%) 0 -3px 5px;
}

.nav-link {
  text-decoration: none;
  padding: 25px;
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
}

.nav-link:hover {
  color:#4dff56;
}

.footer {
  padding: 15px 0;
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px, rgb(0 0 0 / 12%) 0 -12px 30px, rgb(0 0 0 / 12%) 0 4px 6px, rgb(0 0 0 / 17%) 0 12px 13px, rgb(0 0 0 / 9%) 0 -3px 5px;
}

p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.meals-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.meal-img {
  max-width: 100%;
  object-fit: contain;
}

.meal-img:hover {
  box-shadow: 0 4px 8px 0 rgba(9, 211, 177, 0.685), 0 6px 20px 0 rgba(9, 154, 211, 0.644);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  background: #c10c06;
}
